body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

#app {
    width: 100%;
    max-width: 600px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#game-name {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#language-selector button {
    font-size: 18px;
    margin: 0 5px;
}

#balance, #shop-button, #buy-bot, #coin {
    font-size: 20px;
    margin-top: 10px;
}

#coin {
    font-size: 80px;
    cursor: pointer;
}

#shop {
    margin-top: 20px;
}

#upgrades button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#botStatus {
    margin-top: 10px;
    font-size: 18px;
    color: green;
}

#balance {
    font-size: 20px;
    margin-bottom: 20px;
}
