body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#app {
    text-align: center;
}

#coin {
    font-size: 80px;
}

#shop {
    margin-top: 20px;
}

#upgrades button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#botStatus {
    margin-top: 10px;
    font-size: 18px;
    color: green;
}

#balance, #shop-button, #buy-bot {
    font-size: 20px;
}
